.home-page {

  section {
    &.centered {
      background: #FFFFFF;
      padding: 5px;
      border-radius: 8px;
      box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.2);
      .panel-group {
        margin-bottom: 0;
        width: 600px;
        .panel-heading {
          padding: 15px 15px;
          background-image: linear-gradient(rgb(255, 197, 0), rgb(238, 162, 14));
          .panel-title {
            font-size: 14px;
            color: #FFFFFF;
            text-shadow: 1px 1px #666666;
            text-align: left;
          }
        }
        .panel-body {
          padding: 7px;
          background-color: #dedede;
          button {
            background-image: linear-gradient(#404bb6, #7563d3);
            height: 30px;
            color: #FFFFFF;
            font-size: 14px;
            width: 120px;
            border-radius: 10px;
            grid-column-start: 3;
            grid-row-end: 4;
            justify-self: end;
          }
          .comments {
            display: grid;
            grid-template-columns: 2fr 1fr;
            button {
              grid-row-end: 1;
              align-self: end;
            }
          }
          .autocomplete-dropdown-container {
            font-size: 12px;
            box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
            .suggestion-item {
              background-color: #FFFFFF;
              cursor: pointer;
              padding: 10px 20px;
            }
            .suggestion-item--active {
              background-color: #f1f1f1;
              cursor: pointer;
              padding: 10px 20px;
            }
          }
        }
      }
    }
  }

  input {
    outline: none;
    &.form-control {
      box-shadow: inset 0 0 15px -2px #888;
      height: 35px;
      padding: 10px;
      font-size: 12px;
    }
  }

  select {
    height: 35px;
    box-shadow: inset 0 -5px 15px 0px #888;
    width: 140px;
  }

  label {
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin-left: 3px;
  }

  textarea {
    box-shadow: inset 0 0 15px -2px #888;
    height: 120px;
    font-size: 14px;
    padding: 10px;
    background: #FFFFFF;
    width: 100%;
  }

  .form-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 85px 70px 1fr;
    grid-column-gap: 15px;
    .form-group {
      .error-text {
        font-size: 12px;
        padding: 2px 5px;
        color: red;
      }
      &.has-error {
        .control-label {
          color: red;
        }
      }
      &:last-of-type {
        margin-bottom: 0;
      }
      &.dob {
        grid-column-start: 1;
        column-gap: 5px;
        .control-label {
          grid-column-start: 1;
          grid-column-end: all;
        }
      }
    }
  }
}
